<style>
#antrian_pdf {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#antrian_pdf td, #antrian_pdf th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#antrian_pdf tr:nth-child(even){background-color: #f2f2f2;}

#antrian_pdf tr:hover {background-color: #ddd;}
#antrian_pdf th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#antrian_pdf th #id{
    width:20%;
}
#antrian_pdf th #nama{
    width:80%;
}
</style>
<div class="row col-12">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
              <div class="col-6"><h2>LAPORAN PENDAPATAN</h2></div>                          
              <p>Tanggal mulai :2020-09-07</p>
              <p>Tanggal selesai :2020-09-10</p>
          </div>
        </div>
        <div class="panel-body">
          <div class="canvas-wrapper col-md-8" height="600">            
            <table id="antrian_pdf">
                  <tr>
                    <th style="text-align: center;">no</th>                                      
                    <th style="text-align: center;">tanggal</th>                  
                    <th style="text-align: center;">nama pasien</th>                                     
                    <th style="text-align: center;">pendapatan</th>                                      
                  </tr>
                                                
                                                                   
                    <tr>
                     && ($temp->tanggal <= Session('selesai')))
                      <td><h3>0</h3></td>                                      
                      <td><h3>2020-09-08</h3></td>                                      
                      <td><h3>gile</h3></td>                                                      
                                              
                      <td><h3>Rp.210000</h3></td>                       
                                            
                      <td><h3>Rp.10500</h3></td>                     
                                                 
                    </tr>
                                                                   
                    <tr>
                     && ($temp->tanggal <= Session('selesai')))
                      <td><h3>1</h3></td>                                      
                      <td><h3>2020-09-08</h3></td>                                      
                      <td><h3>dudi</h3></td>                                                      
                                              
                      <td><h3>Rp.70000</h3></td>                       
                                            
                      <td><h3>Rp.3500</h3></td>                     
                                                 
                    </tr>
                                                                   
                    <tr>
                     && ($temp->tanggal <= Session('selesai')))
                      <td><h3>2</h3></td>                                      
                      <td><h3>2020-09-08</h3></td>                                      
                      <td><h3>wilda</h3></td>                                                      
                                              
                      <td><h3>Rp.180000</h3></td>                       
                                            
                      <td><h3>Rp.9000</h3></td>                     
                                                 
                    </tr>
                                                                   
                    <tr>
                     && ($temp->tanggal <= Session('selesai')))
                      <td><h3>3</h3></td>                                      
                      <td><h3>2020-09-08</h3></td>                                      
                      <td><h3>rindu</h3></td>                                                      
                                              
                      <td><h3>Rp.30000</h3></td>                       
                                            
                      <td><h3>Rp.1500</h3></td>                     
                                                 
                    </tr>
                                    <h3>Total Pendapatan : Rp.514500</h3>
            </table>
          </div>            
        </div>
      </div>
    </div>
  </div><!--/.row-->